# API Banco de Venezuela
VITE_BDV_API_KEY=TU_API_KEY_AQUI

# Teléfonos receptores por banco (número Pago Móvil de tu empresa)
VITE_TELEFONO_DESTINO_0102=04XXXXXXXXX   # Banco de Venezuela
VITE_TELEFONO_DESTINO_0134=04XXXXXXXXX   # Banesco
VITE_TELEFONO_DESTINO_0105=04XXXXXXXXX   # Mercantil
VITE_TELEFONO_DESTINO_0191=04XXXXXXXXX   # BNC
